/*Info Find*/
.info_find {
  width: 100%;
  min-height: 50%;
  padding: 56px;
  background-image: linear-gradient(to right top, #d8834c, #ca6745, #ba4b41, #a62e3f, #90093e); }

.information {
  width: 50%;
  height: 100%;
  background-color: pink;
  float: left; }

.intro_image_finding {
  width: 50%;
  height: 100%;
  float: right; }
